name: Deploy documentation to Pages

on:
  push:
    branches: ["master"]


jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: Delwing/arkadia-docs-browser
