name: Deploy documentation to Pages

on:
  push:
    branches: ["master"]


jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: Delwing/arkadia-docs-browser
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: data
          clean: 'false'
      - name: Setup docs
        uses: ./
        with:
          xml-file: data/Arkadia.xml
          docs-file: data/aliases.md
