name: Notify Discord & Bump Version
on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Discord Message Notify Arkadia
        uses: Ilshidur/action-discord@0.3.2
        with:
          args: Nowa wersja skryptów [${{ github.event.release.tag_name }}] jest dostępna. Szczegóły - ${{ github.event.release.html_url }}
        env:
          DISCORD_USERNAME: Rafgart
          DISCORD_AVATAR: https://arkadia.rpg.pl/forum/download/file.php?avatar=88_1235778613.jpg
          DISCORD_WEBHOOK: 'https://discord.com/api/webhooks/${{ secrets.ARKADIA_WEBHOOK_ID }}/${{ secrets.ARKADIA_WEBHOOK_TOKEN }}'
      - name: Discord Message Notify Skrypty
        uses: Ilshidur/action-discord@0.3.2
        with:
          args: Nowa wersja skryptów [${{ github.event.release.tag_name }}] jest dostępna. Szczegóły - ${{ github.event.release.html_url }}
        env:
          DISCORD_USERNAME: Rafgart
          DISCORD_AVATAR: https://arkadia.rpg.pl/forum/download/file.php?avatar=88_1235778613.jpg
          DISCORD_WEBHOOK: 'https://discord.com/api/webhooks/${{ secrets.SKRYPTY_WEBHOOK_ID }}/${{ secrets.SKRYPTY_WEBHOOK_TOKEN }}'
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Bump Version
        run: python ./.github/workflows/bump_version.py
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          base: "master"
          branch: "version-bump"
          delete-branch: true
          title: 'version bump'
          body: 'version bump'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Arkadia installer xml to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ArkadiaScriptsInstaller.xml
          asset_name: ArkadiaScriptsInstaller.xml
          tag: ${{ github.event.release.tag_name }}
          overwrite: true