name: Notify Discord & Bump Version
on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Discord Message Notify Arkadia
        uses: appleboy/discord-action@0.0.3
        with:
          username: Rafgart
          avatar_url: https://arkadia.rpg.pl/forum/download/file.php?avatar=88_1235778613.jpg
          webhook_id: ${{ secrets.ARKADIA_WEBHOOK_ID }}
          webhook_token: ${{ secrets.ARKADIA_WEBHOOK_TOKEN }}
          message: Nowa wersja skryptów [${{ github.event.release.tag_name }}] jest dostępna. Szczegóły - ${{ github.event.release.html_url }}
      - name: Discord Message Notify Skrypty
        uses: appleboy/discord-action@0.0.3
        with:
          username: Rafgart
          avatar_url: https://arkadia.rpg.pl/forum/download/file.php?avatar=88_1235778613.jpg
          webhook_id: ${{ secrets.SKRYPTY_WEBHOOK_ID }}
          webhook_token: ${{ secrets.SKRYPTY_WEBHOOK_TOKEN }}
          message: Nowa wersja skryptów [${{ github.event.release.tag_name }}] jest dostępna. Szczegóły - ${{ github.event.release.html_url }}
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Bump Version
        run: python ./.github/workflows/bump_version.py
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          branch: "version-bump"
          deleteBranch: true
          title: 'version bump'
          body: 'version bump'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}